<main class="page-<%= pageData.template %>">
	<section class="sec-content">
		<div class="inner">
			<h2 class="c-ttl__01">
				目標までの道筋
			</h2>
			<div class="course-block">

				<!---->
				<h3 class="c-ttl__03 mbpc-15 mbsp-15">自分のスコアと目標スコア</h3>
				<div class="chart-block">
					<img src="<%= RELATIVE_PATH %>img/chart.png" alt="Japany">
				</div>
			</div>
			<h2 class="c-ttl__01">
				おすすめのコース
			</h2>
			<div class="content-layout">
				<div class="course-block">
					<h3 class="c-ttl__03">JLPT対策N3</h3>
					<div class="course-list swiper js-slider-course">
						<div class="swiper-wrapper">
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-03.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="relative">
						<a href="" class="c-btn__03 js-btn">
							コースに登録済み
						</a>
						<div class="box-note">自分のコースから削除</div>
					</div>
				</div>
				<div class="course-block">
					<h3 class="c-ttl__03">特定技能試験対策【外食】</h3>
					<div class="course-list swiper js-slider-course">
						<div class="swiper-wrapper">
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-03.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<a href="" class="c-btn__01">
						自分のコースに追加
					</a>
				</div>
				<div class="course-block">
					<h3 class="c-ttl__03">せいかつの日本語 Japanese for life in Japan</h3>
					<div class="course-list swiper js-slider-course">
						<div class="swiper-wrapper">
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-03.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
							<div class="course-list__item swiper-slide">
								<a href="" class="course-list__box">
									<div class="course-list__img">
										<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
									</div>
									<div class="course-list__ct">
										<p>
											JLPT対策N3【基本】
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<a href="" class="c-btn__01">
						自分のコースに追加
					</a>
				</div>
			</div>


		</div>
	</section>

</main>