<main class="page-<%= pageData.template %>">
	<section class="sec-content">
		<div class="inner">
			<h2 class="c-ttl__01">
				すべてのコース一覧
			</h2>
			<div class="course-block">
				<h3 class="c-ttl__03">
					JLPT対策N1
					<span class="add-course">
						<a href="" class="add-course__box">自分のコースに追加</a>
					</span>
				</h3>
				<div class="course-list swiper js-slider-course">
					<div class="swiper-wrapper">
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-03.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="course-block">
				<h3 class="c-ttl__03">J
					LPT対策N2
					<span class="add-course">
						<a href="" class="add-course__box">自分のコースに追加</a>
					</span>
				</h3>
				<div class="course-list swiper js-slider-course">
					<div class="swiper-wrapper">
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-03.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="course-block">
				<h3 class="c-ttl__03">
					JLPT対策N3
					<span class="add-course">
						<a href="" class="add-course__box">自分のコースに追加</a>
					</span>
				</h3>
				<div class="course-list swiper js-slider-course">
					<div class="swiper-wrapper">
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-03.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="course-block">
				<h3 class="c-ttl__03">
					JLPT対策N4
					<span class="add-course">
						<a href="" class="add-course__box">自分のコースに追加</a>
					</span>
				</h3>
				<div class="course-list swiper js-slider-course">
					<div class="swiper-wrapper">
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-03.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="course-block">
				<h3 class="c-ttl__03">
					JLPT対策N5
					<span class="add-course">
						<a href="" class="add-course__box">自分のコースに追加</a>
					</span>
				</h3>
				<div class="course-list swiper js-slider-course">
					<div class="swiper-wrapper">
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-03.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="course-block">
				<h3 class="c-ttl__03">
					sample title
					<span class="add-course">
						<a href="" class="add-course__box">自分のコースに追加</a>
					</span>
				</h3>
				<div class="course-list swiper js-slider-course">
					<div class="swiper-wrapper">
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-03.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="course-block">
				<h3 class="c-ttl__03">
					sample title
					<span class="add-course">
						<a href="" class="add-course__box">自分のコースに追加</a>
					</span>
				</h3>
				<div class="course-list swiper js-slider-course">
					<div class="swiper-wrapper">
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-03.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-01.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
						<div class="course-list__item swiper-slide">
							<a href="" class="course-list__box">
								<div class="course-list__img">
									<img src="<%= RELATIVE_PATH %>img/img-02.png" alt="Japany">
								</div>
								<div class="course-list__ct">
									<p>
										JLPT対策N3【基本】
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>